<h1>yellow</h1>
<!--<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fuploads-ssl.webflow.com%2F5a9423a3f702750001758d4f%2F5c473d17f83b6b98c0a3d449_Canary%2520Yellow.png&imgrefurl=https%3A%2F%2Fwww.eggradients.com%2Fshades-of-yellow&tbnid=yMIhTJh9Pl5OrM&vet=12ahUKEwizms6YrejoAhXBSisKHekoCIQQMygAegUIARCyAg..i&docid=Khz5d0vkFa-MIM&w=419&h=250&q=yellow%20color&ved=2ahUKEwizms6YrejoAhXBSisKHekoCIQQMygAegUIARCyAg" alt="">
-->
    <button (click)="aftercallthispage()">submit from yellow page</button>
    <h2>readymade</h2>
    <ul>
        <div class="boxed">
        <label><strong>RS-399/</strong>
        <li><strong>shirts</strong><img src="assets/san.jpg" height="100" weight="100"  ></li></label>
        <button>Buy now</button>
       </div>
        <br>
        <div class="boxed">
        <label><strong>RS-399/</strong>
        <li><strong>uniform</strong><img src="assets\uniform.jpg" height="100" weight="100"></li></label><button>Buy now</button>
        </div><br>
        <div class="boxed">
        <label><strong>RS-399/</strong>
        <li><strong>sarees</strong><img src="assets\sarees.jpg" height="100" width="100" ></li>
        
        </label><button>Buy now</button></div><br>
        <div class="boxed">
        <label><strong>RS-399/</strong>
        <li><strong>kurtas</strong><img src="assets\kurtas.jpg" height="100" width="100" ></li>
        </label> <button>Buy now</button>
        </div>
    </ul>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Google_Images_2015_logo.svg/1200px-Google_Images_2015_logo.svg.png" >