<h1>green color</h1>
<!--<img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F8%2F3%2F0%2F654339.jpg&imgrefurl=http%3A%2F%2Fgetwallpapers.com%2Fcollection%2Fgreen-color-wallpaper&tbnid=_EJPmrGwD-0MhM&vet=12ahUKEwiX3-eRrOjoAhVMdysKHRNcBXoQMygBegUIARCuAg..i&docid=5JAspgcf1fwb1M&w=2880&h=1800&q=green%20color&ved=2ahUKEwiX3-eRrOjoAhVMdysKHRNcBXoQMygBegUIARCuAg" alt=""


   <a href ="https://www.google.com/imgres?imgurl=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F8%2F3%2F0%2F654339.jpg&imgrefurl=http%3A%2F%2Fgetwallpapers.com%2Fcollection%2Fgreen-color-wallpaper&tbnid=_EJPmrGwD-0MhM&vet=12ahUKEwiX3-eRrOjoAhVMdysKHRNcBXoQMygBegUIARCuAg..i&docid=5JAspgcf1fwb1M&w=2880&h=1800&q=green%20color&ved=2ahUKEwiX3-eRrOjoAhVMdysKHRNcBXoQMygBegUIARCuAg" ></a>
-->
<button (click)=" callaftergreenpage()">submit</button>
<h2>sarees</h2>
<ul><div class="boxed">
   <label><strong>RS-399/</strong>
   <li><strong>black</strong><img src="assets\blacks.jpg" height="100" width="100"></li></label><button>Buy now</button></div>
   <br><div class="boxed">
   <label><strong>RS-399/</strong>
   <li><strong>yellow </strong><img src="assets\yellows.jpg" height="100" width="100"></li>
   </label><button>Buy now</button></div>
   <br><div class="boxed">
   <label><strong>RS-399/</strong>
   <li><strong>red</strong><img src="assets\reds.jpg" height="100" width="100"></li></label><button>Buy now</button></div>
</ul>