<h1>navy blue</h1>


<button (click)="callafternavygatetowhitepage()">submit</button>
 <h2>shirts</h2>
 <ul>
     <div class="boxed">
    <label><strong>RS-399/</strong>
     <li><strong>white</strong><img src="assets\whiteh.jpg"  height="100" width="100"></li>
     </label><button>Buy now</button></div>
     <br><div class="boxed">
     <label><strong>RS-399/</strong>
     <li><strong>navy</strong><img src="assets\navyh.jpg"  height="100" width="100"></li>
    </label><button>Buy now</button></div>
     <br><div class="boxed">
     <label><strong>RS-399/</strong>
     <li><strong>black</strong><img src="assets\blackh.jpg" height="100" width="100"></li>
     </label><button>Buy now</button></div>
 </ul>