<h1>red color</h1>
<!----

    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.ytimg.com%2Fvi%2FfOoeCpN6mmY%2Fmaxresdefault.jpg&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DfOoeCpN6mmY&tbnid=13rx-KOI-7B_uM&vet=12ahUKEwi_qdfcq-joAhU1lUsFHRe5DggQMygAegUIARCsAg..i&docid=iYDAb_TRsJYMqM&w=1280&h=720&q=red%20color&ved=2ahUKEwi_qdfcq-joAhU1lUsFHRe5DggQMygAegUIARCsAg" alt="" >
-->
    <button (click)=" callafterredpage()">submit</button>
    <h2>trousers</h2>
    <ul>
        <div class="boxed">
        <label><strong>RS-499/</strong>
        <li><strong>green</strong> <img src="assets\greent.jpg" height="100" width="100" ></li></label><button>Buy now</button></div>
        <br>
        <div class="boxed">
        <label><strong>RS-499/</strong>
        <li><strong>red</strong> <img src="assets\redt.jpg" height="100" width="100"></li></label><button>Buy now</button></div>
        <br>
        <div class="boxed">
        <label><strong>RS-499/</strong>
        <li><strong>blue</strong> <img src="assets\bluet.jpg" height="100" width="100"></li>
        
</label><button>Buy now</button></div>

</ul>